
   

        .Login {
            margin: 0 auto;
            max-width: 480px;
            padding-top: 55px;
        }

    .Logo {
        width: 250px;
        height: 200px;
        display: block;
        margin-left: auto;
        margin-right: auto
    }
    .icon {
        min-width: 50px;
        width: 30px;
        height: 30px;
        text-align: center;
        color: gray;
    } 

    .input-container {
        display: -ms-flexbox; /* IE10 */
        display: flex;
        width: 100%;
        margin-bottom: 15px;
    }
    .input-field {
        width: 100%;
        padding: 10px;
        outline: none;
    }
        .input-field:focus {
            border: 2px solid dodgerblue;
        }
    .btn-login {
        background-color:white;
        color: black;
        font-weight: bold;
        padding: 12px 14px;
        border: 1px solid #b3b3b3;
        cursor: pointer;
        width: 40%;
        opacity: 1;
        display: block;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto
    }

        .btn-login:hover {
            opacity: 1;
        }
    .title {
        font-size: 22px;
        font-weight: bold;
        color: grey;
        margin-top: 50px;
        margin-bottom: 50px;
        text-align: center
    }

   



