.row-equal-box{
    background-clip: content-box;
    /*min-height: 50px;*/
}

.menubox-br {
    margin-bottom: 15px;
}

.text-font-menubox {
    font-size: 16px;
    line-height: 18px;
    font-weight: bold;
    padding:7px;
}

.text-font-menulist {
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
}

