.full-screen {
    width: 100%;
    height: 100%;
    margin: 0;
}

.modal-open .modal {
    overflow-y: hidden;
}

.modal-fullScreen {
    max-width: 100% !important;
    margin: 0 !important;
    overflow-y: initial !important
}

    .modal-fullScreen .modal-content .modal-body {
        padding: 0;
        width: 100%;
        top: 80px;
        bottom: 0;
        position: fixed;
        overflow-y: scroll;
        overflow-x: hidden;
        background-color: #E0E0E0;
    }

    .modal-fullScreen .modal-content {
        border: 0;
        border-radius: 0;
        background-color: unset;
    }

        .modal-fullScreen .modal-content .modal-body .modal-Container {
            padding-top: 15px;
        }

    .modal-fullScreen .modal-Container {
        margin-top: 100px;
        margin-bottom: 20px;
    }

        .modal-fullScreen .modal-Container .card-modal .card-body .row-HeadDetail-Modal {
            margin: 0 !important;
        }

            .modal-fullScreen .modal-Container .card-modal .card-body .row-HeadDetail-Modal .card-title {
                margin-bottom: 0 !important;
            }


        .modal-fullScreen .modal-Container .card-modal .card-body .row {
            margin: 6px 0 0 0;
        }

.modal-function-add .modal-content .modal-footer {
    justify-content: center;
    border: none;
}

/*.modal-function-add .modal-content .modal-header {
    height: 50px;
}*/



.modal-function-add .modal-content .modal-body {
    padding: 0 1rem;
    margin-left: 15px;
    margin-right: 15px;
    max-height: 400px;
    overflow-y: auto;
}

    .modal-function-add .modal-content .modal-body .detail-form {
        border: none;
    }

    .modal-function-add .modal-content .modal-body .div-search {
        margin-bottom: 10px;
    }

.modal-function-add .modal-content .modal-header {
    border-bottom: 2px solid rgba(0, 0, 0, 0.15);
}

.modal-fullScreen .navbar .btn-Container .btn-TempCommonForm {
    line-height: 29px;
    color: #ffffff;
    height: 31px !important
}
